
@model MVCHelloWorld.Models.StudentsAndSchoolsBag

@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

<label>Pesquisar alunos de uma escola.</label>
<br />
<label>ID da Escola: </label>
<textarea id="schoolIdTextBox" rows="1"></textarea>
<button id="searchStudents">Pesquisar</button>

<br />
<br />
<label>Escolas:</label>

<br />

@foreach( var school in Model.Schools)
{
    <label>@school.ID</label>
    <label> - </label>
    <label>@school.Name</label>
    <br />
}

<br />



<script>
    /*Function to view the students who study at a specific school*/
    $('#searchStudents').click(function () {
        var textBoxVal = $('#schoolIdTextBox').val();

        $.ajax({
            type: 'GET',
            url: "/Index/GetStudentsFromSchool/" + textBoxVal,
            data: "",
            dataType: "json",
            success: function (response) {
                var users = [] ;
                for(var i = 0; i < response.length; i++) {
                    users.push(" "+response[i].Name);
                }
                users.join(',');
                alert(users);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    })
</script>